whatsapp-assistant/n8n/workflows/ai_summary.json
{
    "name": "AI Summary Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-summary",
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const body = $input.first().json.body;\nconst caseNumber = body.case_number || '';\nconst action = body.action || 'summary';\nconst userPhone = body.user_phone || '';\n\nreturn [{ json: { caseNumber, action, userPhone } }];"
            },
            "name": "Parse Request",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/v1/scraper/case/{{ $json.caseNumber }}",
                "method": "GET"
            },
            "name": "Fetch Case Data",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'gpt-4', messages: [{ role: 'system', content: 'Summarize this Indian court case concisely for a WhatsApp message.' }, { role: 'user', content: JSON.stringify($json.data) }], max_tokens: 500 }) }}"
            },
            "name": "OpenAI Summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const response = $input.first().json;\nconst summary = response.choices?.[0]?.message?.content || 'Summary unavailable';\nreturn [{ json: { summary, success: true } }];"
            },
            "name": "Extract Summary",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, summary: $json.summary }) }}"
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Request": {
            "main": [
                [
                    {
                        "node": "Fetch Case Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Case Data": {
            "main": [
                [
                    {
                        "node": "OpenAI Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Summary": {
            "main": [
                [
                    {
                        "node": "Extract Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Summary": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}