whatsapp-assistant/n8n/workflows/drive_commands.json
{
    "name": "Drive Commands Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "drive-commands",
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.command }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Validate Input",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const body = $input.first().json.body;\nconst command = body.command || '';\nconst args = body.args || [];\nconst userPhone = body.user_phone || '';\n\nreturn [{ json: { command, args, userPhone, action: args[0] || 'help' } }];"
            },
            "name": "Parse Command",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/v1/drive/{{ $json.action }}",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "command",
                            "value": "={{ $json.command }}"
                        },
                        {
                            "name": "args",
                            "value": "={{ JSON.stringify($json.args) }}"
                        },
                        {
                            "name": "user_phone",
                            "value": "={{ $json.userPhone }}"
                        }
                    ]
                }
            },
            "name": "Call Backend API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: $json.result || 'Command processed' }) }}"
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\": false, \"message\": \"Invalid command\"}"
            },
            "name": "Error Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Parse Command",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Command": {
            "main": [
                [
                    {
                        "node": "Call Backend API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Backend API": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}